.exchange-list{
	background-color: #D5D5D5;
	color: #072FDE;
	.list-header{
		display: flex;
		div{
			width: 33%;
			padding: 10px 0;
			text-transform: uppercase;
		}
	}
	.list-item{
		padding: 10px 0;
		border-top: 2px solid #072FDE;
		display: flex;
		font-size: 24px;
		h4{
			margin: 0;
			text-decoration: underline;
		}
		div{
			width: 33%;
			padding: 10px 24px 10px 0;
			div{
				padding: 0;
				width: 100%;
				word-break: break-all;
				a{
					text-decoration: underline;
				}
			}
		}
	}
}