@font-face {
  font-family: "Karelia-Outtakes";
  src: url("../Karelia-Outtakes.otf");
}

body,
html {
  font-family: "Karelia-Outtakes";
  margin: 0;
  padding: 0;
  // background-color: #0000ff;
  color: #fff;
  font-size: 30px;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding-bottom: 60px;
  // position:fixed;
  // overflow-y: scroll;
  // height: calc(100vh - 60px);
}

body * {
  font-family: "Karelia-Outtakes";
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

section{
  overflow-x: hidden;
}

.spacer {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

p a {
  // display: block;
  text-decoration: underline;
}

.intro-text p a, .columns p a {
  display: block;
}

.links a {
  display: block;
  color: #fff;
  text-decoration: none;
  &:before {
    content: "➝";
    margin-right: 10px;
  }
}

.container {
  padding: 24px 48px;
}

.content{
  padding-bottom: 48px;
  blockquote{
    margin: 0;
    font-size: 30px;
    text-align: right;
    display: block;
    margin-right: 0;
    margin-left: auto;
    max-width: 300px;
    p{
      margin-top: -200px;
      padding-bottom: 40px;
    }
    a{
      display: block;
    }
  }
}

.small-text{
  font-size: 18px;
}

.wrapper{
  max-width: 900px;
}

h1 {
  font-size: 53px;
  margin: 0;
}

h2{
  margin-top: 0;
}

button {
  color: #fff;
  background: transparent;
  border: none;
  font-size: 53px;
  cursor: pointer;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.icon,
.icon2 {
  cursor: pointer;
  opacity: 0.8;
}

.icon{
  position: fixed;
  top: 0px;
  right: 24px;
  width: 175px;
  height: auto;
  z-index: 999;
  transition: all 0.4s ease-in-out;
  .hidden-icon{
    visibility: hidden;
    position: fixed;
    right: 24px;
    top: 0px;
    width: 175px;
    height: auto;
    opacity: 0;
    .tooltiptext {
      position: relative;
      font-size: 14px;
      line-height: 1.2;
      text-transform: none;
      background-color: #0000ff;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid white;
      &:after{
        content: " ";
        position: absolute;
        bottom: 100%;
        /* At the top of the tooltip */
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent white transparent;
      }
    }
  }
  &:hover{
    .default-icon{
      visibility: hidden;
      opacity: 0;
    }
    .hidden-icon {
      visibility: visible;
      opacity: 1;
    }
  }
}

.navbar {
  background-color: #0000ff;
  border: 2px solid #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 60px;
    &:last-child {
      border-left: 2px solid #fff;
    }
    li {
      font-size: 40px;
      text-transform: uppercase;
      color: #fff;
      padding: 0 14px;
      border-right: 2px solid #fff;
      height: 60px;
      &.announcements{
        padding: 0;
        width: calc(100vw - 540px);
      }
      a {
        color: #fff;
      }
    }
  }
}

.search {
  cursor: pointer;
}

#faqSearch {
  border: 2px solid white;
  background: none;
  color: white;
  border-radius: 24px;
  width: 400px;
  max-width: 80%;
  font-size: 24px;
  padding: 0px 20px 5px 20px;
  margin-bottom: 24px;

  &::placeholder {
    color: white;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: white;
  }

  &::-ms-input-placeholder {
    color: white;
  }
}

.search-modal{
  position: fixed;
  background-color: #0000ff;
  border: 3px solid white;
  bottom: 58px;
  left: 142px;
  input {
    background: none;
    color: white;
    border: none;
    width: 400px;
    font-size: 40px;
    padding: 0px 20px 5px 20px;

    &::placeholder {
      color: white;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: white;
    }

    &::-ms-input-placeholder {
      color: white;
    }
  }
}

.search-results{
  margin-top: 20px;
  padding: 2vw 34px;
  background-color: #D5D5D5;
  color: #0000ff;
  min-height: 100vh;
  .col-search{
    border-bottom: 3px solid #0000ff;
    padding-bottom: 10px;
    margin-top: 36px;
    font-size: 36px;
    .news-container{
      margin-top: 24px;
    }
  }
  h4 {
    margin: 0;
    margin-top: 100px;
    padding-bottom: 10px;
    border-bottom: 3px solid #0000ff;
  }
  .collapsible-wrapper:first-child{
    h4{
      margin-top: 24px;
    }
  }
  .Collapsible{
    cursor: pointer;
  }
  .sources{
    margin-top: 5px;
    &:nth-child(1){
      margin-top: 24px;
    }
    a:nth-child(1){
      border-top: none;
    }
  }
}

.hero-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  // overflow-y: scroll;
  overflow-y: hidden;
  z-index: -1;
  video {
    object-fit: cover;
    min-width: 100%;
    width: auto;
    height: auto;
    min-height: 100%;
    &::-webkit-media-controls-panel {
      background-image: linear-gradient(transparent, transparent) !important;
    }
    &::-webkit-media-controls {
      display: none !important;
    }
  }
}

.section-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  z-index: -1;
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    &::-webkit-media-controls-panel {
      background-image: linear-gradient(transparent, transparent) !important;
    }
    &::-webkit-media-controls {
      display: none !important;
    }
  }
}

.columns {
  display: flex;
  padding-bottom: 24px;
  .medium {
    margin-right: 24px;
    width: 50%;
  }
  .small {
    width: 25%;
  }
  .large {
    width: 75%;
  }
  .text {
    margin-left: 48px;
  }
}

.intro-text {
  max-width: 900px;
  margin-top: 24px;
}

//NEWS
.news-container {
  display: flex;
  flex-wrap: wrap;
  width: 98vw;
  padding: 0 1vw;
  justify-content: left;
  .news-item {
    width: 30.5vw;
    margin: 0 1vw 2vw 1vw;
    .image{
      position: relative;
      width: 100%;
      height: 400px;
    }
    p {
      font-size: 18px;
      margin: 0;
    }
    h4{
      margin: 0;
      margin-bottom: 10px;
    }
  }
}

.caption{
  font-size: 20px;
}

// LOGIN

.login-button {
  cursor: pointer;
  width: 165px;
  text-align: center;
}
.login-link {
  cursor: pointer;
  padding: 0 10px;
  text-decoration: underline;
}
.login {
  background-color: #0000ff;
  position: fixed;
  bottom: 60px;
  right: -3px;
  border: 3px solid #fff;
  color: #fff;
  input {
    border: none;
    border-bottom: 3px solid #fff;
    background-color: #0000ff;
    color: #fff;
    width: calc(100% - 20px);
    font-size: 30px;
    line-height: 1.4;
    padding: 10px;
    &::placeholder {
      color: #fff;
      font-size: 30px;
      line-height: 1.4;
    }
  }
  button {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 30px;
  }
  .register {
    font-size: 30px;
    padding: 24px 10px;
    display: flex;
    justify-content: space-between;
    button {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.confirmation{
  form, p{
    display: none;
  }
  .confirmation-page {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #D5D5D5;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}

.login-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-pw{
  // text-decoration: underline;
  padding-right: 14px;
  font-size: 20px;
}

.confirmation-page{
  display: none;
}

.profile{
  background-color: #D5D5D5;
  width: 100%;
  color: #0000ff;
  min-height: 100vh;
  .buttons{
    display: flex;
    justify-content: space-between;
  }
  button{
    color: #0000ff;
    display: block;
    margin: 14px 0px;
    width: auto;
    &:before{
      content: '➝ ';
    }
  }
  .list-header{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #0000ff;
    div {
      width: 30%;
    }
  }
  .list-item{
    display: flex;
    flex-wrap: wrap;
    .title{
      border-bottom: 2px solid #0000ff;
    }
    td{
      width: 30%;
      textarea{
        width: 90%;
        height: 200px;
      }
      div{
        margin-bottom: 10px;
      }
    }
    input{
      border-color: #0000ff;
      background-color: transparent;
      color: #0000ff;
      border-width: 1px;
      // padding: 5px 20px;
    }
    textarea{
      margin-top: 14px;
      border-color: #0000ff;
      background-color: transparent;
      color: #0000ff;
      resize: none;
    }
  }
}

//MENU
.menu-toggle {
  cursor: pointer;
}
.menu-modal{
  position: fixed;
  bottom: 58px;
  background-color: #0000ff;
  border: 3px solid #fff;
  a {
    display: block;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 3px solid #fff;
    padding: 10px;
  }
}

//REGISTER
.register-page {
  width: 900px;
  input {
    border: none;
    border-bottom: 2px solid #0000ff;
    background-color: transparent;
    display: block;
    width: 98%;
    font-size: 30px;
    color: #0000ff;
  }
  textarea {
    width: 98%;
    display: block;
    border: 2px solid #0000ff;
    height: 250px;
    background-color: transparent;
    font-size: 30px;
    color: #0000ff;
    margin-top: 10px;
  }
  button {
    color: #0000ff;
    &:before {
      content: "➝";
      margin-right: 10px;
    }
  }
}

.register , .alt-eco, .news-page {
  .top-bar {
    background-color: #0000ff;
  }
}

.top-bar-wrap{
  height: 60px;
}
.top-bar{
  transition: all 0.4s ease-in-out;
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 0;
  h1{
    a{
      margin-left: 34px;
    }
    .hidden-link{
      display: none;
    }
    &:hover{
      .hidden-link {
        display: inline-block;
        position: absolute;
      }
      .default-link{
        display: none;
      }
    }
  }
}

.big-title{
  font-size: 90px;
  line-height: 1;
  transform: rotate(-10deg);
  text-transform: uppercase;
  padding: 48px 0 48px 0;
}

.image-slider{
  width: 90%;
  margin-left: 5%;
  margin-top: 24px;
  .small{
    width: 25%!important;
    min-width: 200px!important;
    display: block!important;
    margin: auto!important;
  }
  .slick-track {
    display: flex;
  }
  
  .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}

.content-image{
  margin: 14px 0;
  &.small{
    width: 25%;
    min-width: 200px;
  }
}

.sources{
  position: relative;
  a{
    position: relative;
    display: flex;
    font-size: 30px;
    padding: 14px 44px 14px 0;
    border-bottom: 3px solid #0000ff;
    justify-content: space-between;
    &:nth-child(1){
      border-top: 3px solid #0000ff;
    }
    .popup{
      color: #fff;
      background-color: #0000ff;
      width: 60px;
      text-align: center;
      right: 0;
      border-radius: 10px;
      display: inline-block;
      position: absolute;
      transition: all 0.4s ease-in-out;
      .hidden{
        display: none;
        font-size: 18px;
        padding: 14px;
      }
      &:hover{
        width: 300px;
        min-height: 60px;
        z-index: 999;
        span{
          display: none;
        }
        .hidden {
          display: block;
        }
      }
    }
  }
}

.collapsible-wrapper{
  font-size: 30px;
  position: relative;
  .collapsible{
    padding: 14px 14px 14px 0;
    border-bottom: 3px solid #0000ff;
    cursor: pointer;
    &.first{
      border-top: 3px solid #0000ff;
      .Collapsible span:after {
        content: ' ';
        float: right;
        right: 0;
        margin-top: 10px;
        width: 0px;
        height: 0px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #0000ff;
        margin-left: 14px;
        transition: all 0.4s ease-in-out;
      }
      
      .Collapsible span.is-open:after {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
      }
      .Collapsible__contentOuter{
        font-size: 20px;
      }
    }
    &.answer{
      .Collapsible span:after {
        content: ' ';
        float: right;
        right: 0;
        margin-top: 10px;
        width: 0px;
        height: 0px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #0000ff;
        margin-left: 14px;
        transition: all 0.4s ease-in-out;
      }
      
      .Collapsible span.is-open:after {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
      }
      .Collapsible__contentOuter{
        font-size: 20px;
      }
    }
  }
  .load-more{
    cursor: pointer;
    text-align: right;
    .Collapsible__trigger{
      border: none;
      font-size: 24px;
      transition: all 0.4s ease-in-out;
      &:before{
        content: 'View all...';
      }
      &.is-open{
        &:before {
          content: 'Close all...';
        }
      }
    }
    .Collapsible__contentInner{
      text-align: left;
      .Collapsible__trigger {
        font-size: 30px;
        &:before {
          content: '';
        }
        
        &.is-open {
          &:before {
            content: '';
          }
        }
      }
    }
  }
}

#allies{
  ul{
    list-style-type: none;
    padding: 0;
    li{
      display: flex;
      justify-content: space-between;
    }
  }
}

.moving-bg{
  .sources {
    a {
      border-bottom: 3px solid #fff;
  
      &:nth-child(1) {
        border-top: 3px solid #fff;
      }
    }
  }
  .collapsible-wrapper {
    .collapsible {
      border-bottom: 3px solid #fff;
      &.first {
        border-top: 3px solid #fff;
      }
      .Collapsible span:after {
        border-top: 20px solid #fff;
      }
    }
  } 
}

.hero{
  position: relative;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  .back {
    position: fixed;
    top: 200px;
    right: 48px;
    background-color: #fff;
    padding: 5px 20px 10px 20px;
    border-radius: 24px;
    color: #0000FF;
    font-size: 18px;
  }
  
  .intro-text {
    color: #fff;
    font-size: 30px;
  }
  
  .links {
    position: fixed;
    right: 24px;
    bottom: 84px;
    width: 350px;
    font-size: 40px;
  }
}

.podcast-section{
  width: 100%;
  margin-top: 24px;
  padding-bottom: 100px;
  #myAudio{
    display: none;
  }
  .toggle-sound{
    border: 1px solid white;
    span:first-child {
      border-right: 1px solid white;
      padding: 0 5px;
    }
    span:last-child {
      padding: 0 5px;
    }
    &.play{
      span:first-child{
        background-color: white;
        color: #0000ff
      }
    }
    &.pause {
      span:last-child {
        background-color: white;
        color: #0000ff
      }
    }
  }
  .Collapsible{
    cursor: pointer;
    .is-open {
      &:after{
        content: 'Show less';
      }
    }
    .is-closed{
      &:after {
        content: 'Show more';
      }
    }
  }
  .columns{
    flex-wrap: wrap;
    border-bottom: 2px solid white;
    padding: 14px 0;
    h3{
      margin: 0;
    }
    &.smaller{
      .small{
        width: 15%;
      }
      .large{
        width: 80%;
      }
    }
    .small{
      width: 25%;
      audio{
        width: 100%;
      }
      div{
        width: 100%;
        height: auto;
      }
      img{
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: top left;
      }
    }
    .large{
      width: 58%;
      margin-left: 2%;
    }
  }
}

.error{
  color: red;
  font-size: 20px;
  margin-left: 10px;
}

.announcements {
  display: none;
  border-right: none!important;
}

#timeline{
  background-image: url(../history.svg);
  background-size: 1100px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  .collapsible-wrapper{
    margin-top: 100px;
  }
}

.faq{
  .normal-bg{
    background-image: url(../blue_yellow.png);
    background-size: cover;
    *{
      color: #fff;
      border-color: #fff!important;
    }
  }
  .collapsible-wrapper .collapsible.first .Collapsible span:after{
    border-top: 20px solid #fff;
  }
}

@media only screen and (min-width: 600px) {
  .announcements{
    display: block;
  }
  .marquee {
    position: relative;
    width: auto;
    max-width: 100%;
    height: 200px;
    overflow-x: hidden;
    span{
      position: absolute;
      white-space: nowrap;
      will-change: transform;
      animation: marquee 20s linear infinite;
      font-size: 24px;
      line-height: 60px;
    }
  }
  
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-50%);
    }
  }
}