@font-face {
  font-family: "Karelia-Outtakes";
  src: url('../Karelia-Outtakes.otf');
}

body, html{
  font-family: "Karelia-Outtakes";
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 30px;
  padding-bottom: 40px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container{
  padding: 24px 48px;
}

h1{
  font-size: 53px;
  margin: 0;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

canvas {
  width: 100vw;
  height: calc(100vh - 75px);
}

.navbar{
  background-color: #fff;
  border: 2px solid #0000FF;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: space-between;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 75px;
    &:last-child{
      border-left: 2px solid #0000FF;
    }
    li{
      font-size: 48px;
      text-transform: uppercase;
      color: #0000FF;
      padding: 0 14px;
      border-right: 2px solid #0000FF;
      height: 75px;
      a{
        color: #0000FF;
      }
    }
  }
}

.hero-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    &::-webkit-media-controls-panel {
      background-image: linear-gradient(transparent, transparent) !important;
    }
    &::-webkit-media-controls {
      display:none !important;
    }
  }
}

.columns{
  display: flex;
  padding-bottom: 24px;
  div{
    margin-right: 24px;
    width: 50%;
  }
}